@import "./reset.css";


:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
   }

main {
  height: 100vh;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameHeader {
  align-self: center;
  position: absolute;
  margin-top: 4vh;
  text-align: center;
}

.gameFooter {
  margin: 5vh;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

#popupContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#prepCount{
  z-index: 2;
  position: absolute;
  border-radius: 1vh;
  background-color: white;
  width: 40vh;
  height: 45vh;
}

.prepText h2{
  text-align: center;
  padding: 2vh;
  font-size: 5vh;
}

.prepText p {
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 3vh;
  text-align: center;
}

#takeOffTimer {
  font-size: 8vh;
}

#gameOver {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  border-radius: 1vh;
  background-color: white;
  width: 40vh;
  height: 45vh;
  text-align: center;
}

#gameOver h3 {
  padding-top: 1vh;
}

#gameOver ol {
  padding-left: 6vh;
  text-align: left;
  font-size: 2vh;
  margin-left: 2vh;
  margin-bottom: 5vh;
  columns: 2;
    
}

#replayButton{
border-radius: 1vh;
background-color: var(--app-blue);
color: white;
width: 80%;
margin-top: 1vh;
padding: 2vh;
font-size: 2vh;}

#startGame {
    z-index: 2;
    position: absolute;
    border-radius: 1vh;
    background-color: white;
    width: 40vh;
    height: 45vh;
}


.startText h2{
  text-align: center;
  padding: 2vh;
  font-size: 4vh;
}

.startText p {
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 3vh;
}

#startButton {
  border-radius: 1vh;
  background-color: var(--app-blue);
  color: white;
  width: 80%;
  margin-top: 4vh;
  margin-left:4vh;
  padding: 2vh;
  font-size: 3vh;
}
  
.footer {
  background-color: #86f19f41;
  overflow: hidden;
  border-style: solid;
  height: 25vh;
  width: 100%;
  position: absolute; bottom: 0;
  display: flex;
  flex-direction: column;
}
#currentWord {
  z-index: 1;
  bottom: 50%;
  font-size: 5vh;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  align-self: center;
}
.playField {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 3vh;
}

.wordsPerHour {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.speed{
  margin-top: 2vh;
}

#typeHere {
  width: 50vh;
  height: 5vh;
  margin-top: 2vh;
  font-size: larger;
  text-align: center;
}

.images {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bg {
  height: 100%;
  width: 5000%;
  background: url(../img/background/BG.png);
  display: block;
  position: absolute;
  bottom: 0%;
  left:-3vh;
  background-repeat: repeat-x;
  animation: backgroundMove 30s linear infinite;
}

.imgAni {
  position: absolute;
  width: 20vh;
  margin-left: 20vh;
  bottom: 50vh;
  animation: hover 1500ms linear infinite;
}

.fuelBar {
  border-style: solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.fuelBar p {
  color: rgb(245, 245, 245);
  position: absolute;
}
.fuel{
  height: 3.5vh;
  width: 100%;
  background: rgb(36,0,0);
  background: linear-gradient(90deg, rgb(155, 38, 38) 0%, rgb(238, 23, 37) 35%, rgba(255,0,0,1) 100%);
  padding-left: 5vh;
  left: 0;
}
.hidden{
  visibility: hidden;
}

/*Movement*/
.bgMove {
  animation: backgroundMove 90s linear;
}
@keyframes backgroundMove {
  100%{ transform: translateX(-500rem);}
}

.hoverAni {
  animation: hover 1500ms linear infinite;
}

@keyframes hover {
  100%  {
    transform: translateY(-1vh) 
  }
  50% {
    transform: translateY(2vh);
  }
  0% {
    transform: translateY(-1vh);
  }
}


  